// Vendor section
@import "vendor/bourbon/bourbon";
@import "vendor/neat/neat";

// Turn on visial grid.
$visual-grid: false;
$visual-grid-color: green;
$visual-grid-index: front;
$visual-grid-opacity: 0.2;

// Global section
@import "global/global";
@import "global/custom_mixins";

// Everything but grid for each theme.
@import "utm/base";

// Responsive modules.
@import "utm/adm-responsive";

// Add jquery-ui, this needs to be added at the end,
// because it needs variables declared before it is
// compiled.
@import "vendor/jquery/jquery-ui";
