// Variables
// --------------------------

$fa-font-path: "../fonts" !default;
$fa-font-size-base: 14px !default;

//$fa-font-path:        "//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts" !default; // for referencing Bootstrap CDN font files directly
$fa-css-prefix: fa !default;
$fa-version: "4.3.0" !default;
$fa-border-color: #eee !default;
$fa-inverse: #fff !default;
$fa-li-width: 30em / 14 !default;

$fa-var-adjust: "";
$fa-var-adn: "";
$fa-var-align-center: "";
$fa-var-align-justify: "";
$fa-var-align-left: "";
$fa-var-align-right: "";
$fa-var-ambulance: "";
$fa-var-anchor: "";
$fa-var-android: "";
$fa-var-angellist: "";
$fa-var-angle-double-down: "";
$fa-var-angle-double-left: "";
$fa-var-angle-double-right: "";
$fa-var-angle-double-up: "";
$fa-var-angle-down: "";
$fa-var-angle-left: "";
$fa-var-angle-right: "";
$fa-var-angle-up: "";
$fa-var-apple: "";
$fa-var-archive: "";
$fa-var-area-chart: "";
$fa-var-arrow-circle-down: "";
$fa-var-arrow-circle-left: "";
$fa-var-arrow-circle-o-down: "";
$fa-var-arrow-circle-o-left: "";
$fa-var-arrow-circle-o-right: "";
$fa-var-arrow-circle-o-up: "";
$fa-var-arrow-circle-right: "";
$fa-var-arrow-circle-up: "";
$fa-var-arrow-down: "";
$fa-var-arrow-left: "";
$fa-var-arrow-right: "";
$fa-var-arrow-up: "";
$fa-var-arrows: "";
$fa-var-arrows-alt: "";
$fa-var-arrows-h: "";
$fa-var-arrows-v: "";
$fa-var-asterisk: "";
$fa-var-at: "";
$fa-var-automobile: "";
$fa-var-backward: "";
$fa-var-ban: "";
$fa-var-bank: "";
$fa-var-bar-chart: "";
$fa-var-bar-chart-o: "";
$fa-var-barcode: "";
$fa-var-bars: "";
$fa-var-bed: "";
$fa-var-beer: "";
$fa-var-behance: "";
$fa-var-behance-square: "";
$fa-var-bell: "";
$fa-var-bell-o: "";
$fa-var-bell-slash: "";
$fa-var-bell-slash-o: "";
$fa-var-bicycle: "";
$fa-var-binoculars: "";
$fa-var-birthday-cake: "";
$fa-var-bitbucket: "";
$fa-var-bitbucket-square: "";
$fa-var-bitcoin: "";
$fa-var-bold: "";
$fa-var-bolt: "";
$fa-var-bomb: "";
$fa-var-book: "";
$fa-var-bookmark: "";
$fa-var-bookmark-o: "";
$fa-var-briefcase: "";
$fa-var-btc: "";
$fa-var-bug: "";
$fa-var-building: "";
$fa-var-building-o: "";
$fa-var-bullhorn: "";
$fa-var-bullseye: "";
$fa-var-bus: "";
$fa-var-buysellads: "";
$fa-var-cab: "";
$fa-var-calculator: "";
$fa-var-calendar: "";
$fa-var-calendar-o: "";
$fa-var-camera: "";
$fa-var-camera-retro: "";
$fa-var-car: "";
$fa-var-caret-down: "";
$fa-var-caret-left: "";
$fa-var-caret-right: "";
$fa-var-caret-square-o-down: "";
$fa-var-caret-square-o-left: "";
$fa-var-caret-square-o-right: "";
$fa-var-caret-square-o-up: "";
$fa-var-caret-up: "";
$fa-var-cart-arrow-down: "";
$fa-var-cart-plus: "";
$fa-var-cc: "";
$fa-var-cc-amex: "";
$fa-var-cc-discover: "";
$fa-var-cc-mastercard: "";
$fa-var-cc-paypal: "";
$fa-var-cc-stripe: "";
$fa-var-cc-visa: "";
$fa-var-certificate: "";
$fa-var-chain: "";
$fa-var-chain-broken: "";
$fa-var-check: "";
$fa-var-check-circle: "";
$fa-var-check-circle-o: "";
$fa-var-check-square: "";
$fa-var-check-square-o: "";
$fa-var-chevron-circle-down: "";
$fa-var-chevron-circle-left: "";
$fa-var-chevron-circle-right: "";
$fa-var-chevron-circle-up: "";
$fa-var-chevron-down: "";
$fa-var-chevron-left: "";
$fa-var-chevron-right: "";
$fa-var-chevron-up: "";
$fa-var-child: "";
$fa-var-circle: "";
$fa-var-circle-o: "";
$fa-var-circle-o-notch: "";
$fa-var-circle-thin: "";
$fa-var-clipboard: "";
$fa-var-clock-o: "";
$fa-var-close: "";
$fa-var-cloud: "";
$fa-var-cloud-download: "";
$fa-var-cloud-upload: "";
$fa-var-cny: "";
$fa-var-code: "";
$fa-var-code-fork: "";
$fa-var-codepen: "";
$fa-var-coffee: "";
$fa-var-cog: "";
$fa-var-cogs: "";
$fa-var-columns: "";
$fa-var-comment: "";
$fa-var-comment-o: "";
$fa-var-comments: "";
$fa-var-comments-o: "";
$fa-var-compass: "";
$fa-var-compress: "";
$fa-var-connectdevelop: "";
$fa-var-copy: "";
$fa-var-copyright: "";
$fa-var-credit-card: "";
$fa-var-crop: "";
$fa-var-crosshairs: "";
$fa-var-css3: "";
$fa-var-cube: "";
$fa-var-cubes: "";
$fa-var-cut: "";
$fa-var-cutlery: "";
$fa-var-dashboard: "";
$fa-var-dashcube: "";
$fa-var-database: "";
$fa-var-dedent: "";
$fa-var-delicious: "";
$fa-var-desktop: "";
$fa-var-deviantart: "";
$fa-var-diamond: "";
$fa-var-digg: "";
$fa-var-dollar: "";
$fa-var-dot-circle-o: "";
$fa-var-download: "";
$fa-var-dribbble: "";
$fa-var-dropbox: "";
$fa-var-drupal: "";
$fa-var-edit: "";
$fa-var-eject: "";
$fa-var-ellipsis-h: "";
$fa-var-ellipsis-v: "";
$fa-var-empire: "";
$fa-var-envelope: "";
$fa-var-envelope-o: "";
$fa-var-envelope-square: "";
$fa-var-eraser: "";
$fa-var-eur: "";
$fa-var-euro: "";
$fa-var-exchange: "";
$fa-var-exclamation: "";
$fa-var-exclamation-circle: "";
$fa-var-exclamation-triangle: "";
$fa-var-expand: "";
$fa-var-external-link: "";
$fa-var-external-link-square: "";
$fa-var-eye: "";
$fa-var-eye-slash: "";
$fa-var-eyedropper: "";
$fa-var-facebook: "";
$fa-var-facebook-f: "";
$fa-var-facebook-official: "";
$fa-var-facebook-square: "";
$fa-var-fast-backward: "";
$fa-var-fast-forward: "";
$fa-var-fax: "";
$fa-var-female: "";
$fa-var-fighter-jet: "";
$fa-var-file: "";
$fa-var-file-archive-o: "";
$fa-var-file-audio-o: "";
$fa-var-file-code-o: "";
$fa-var-file-excel-o: "";
$fa-var-file-image-o: "";
$fa-var-file-movie-o: "";
$fa-var-file-o: "";
$fa-var-file-pdf-o: "";
$fa-var-file-photo-o: "";
$fa-var-file-picture-o: "";
$fa-var-file-powerpoint-o: "";
$fa-var-file-sound-o: "";
$fa-var-file-text: "";
$fa-var-file-text-o: "";
$fa-var-file-video-o: "";
$fa-var-file-word-o: "";
$fa-var-file-zip-o: "";
$fa-var-files-o: "";
$fa-var-film: "";
$fa-var-filter: "";
$fa-var-fire: "";
$fa-var-fire-extinguisher: "";
$fa-var-flag: "";
$fa-var-flag-checkered: "";
$fa-var-flag-o: "";
$fa-var-flash: "";
$fa-var-flask: "";
$fa-var-flickr: "";
$fa-var-floppy-o: "";
$fa-var-folder: "";
$fa-var-folder-o: "";
$fa-var-folder-open: "";
$fa-var-folder-open-o: "";
$fa-var-font: "";
$fa-var-forumbee: "";
$fa-var-forward: "";
$fa-var-foursquare: "";
$fa-var-frown-o: "";
$fa-var-futbol-o: "";
$fa-var-gamepad: "";
$fa-var-gavel: "";
$fa-var-gbp: "";
$fa-var-ge: "";
$fa-var-gear: "";
$fa-var-gears: "";
$fa-var-genderless: "";
$fa-var-gift: "";
$fa-var-git: "";
$fa-var-git-square: "";
$fa-var-github: "";
$fa-var-github-alt: "";
$fa-var-github-square: "";
$fa-var-gittip: "";
$fa-var-glass: "";
$fa-var-globe: "";
$fa-var-google: "";
$fa-var-google-plus: "";
$fa-var-google-plus-square: "";
$fa-var-google-wallet: "";
$fa-var-graduation-cap: "";
$fa-var-gratipay: "";
$fa-var-group: "";
$fa-var-h-square: "";
$fa-var-hacker-news: "";
$fa-var-hand-o-down: "";
$fa-var-hand-o-left: "";
$fa-var-hand-o-right: "";
$fa-var-hand-o-up: "";
$fa-var-hdd-o: "";
$fa-var-header: "";
$fa-var-headphones: "";
$fa-var-heart: "";
$fa-var-heart-o: "";
$fa-var-heartbeat: "";
$fa-var-history: "";
$fa-var-home: "";
$fa-var-hospital-o: "";
$fa-var-hotel: "";
$fa-var-html5: "";
$fa-var-ils: "";
$fa-var-image: "";
$fa-var-inbox: "";
$fa-var-indent: "";
$fa-var-info: "";
$fa-var-info-circle: "";
$fa-var-inr: "";
$fa-var-instagram: "";
$fa-var-institution: "";
$fa-var-ioxhost: "";
$fa-var-italic: "";
$fa-var-joomla: "";
$fa-var-jpy: "";
$fa-var-jsfiddle: "";
$fa-var-key: "";
$fa-var-keyboard-o: "";
$fa-var-krw: "";
$fa-var-language: "";
$fa-var-laptop: "";
$fa-var-lastfm: "";
$fa-var-lastfm-square: "";
$fa-var-leaf: "";
$fa-var-leanpub: "";
$fa-var-legal: "";
$fa-var-lemon-o: "";
$fa-var-level-down: "";
$fa-var-level-up: "";
$fa-var-life-bouy: "";
$fa-var-life-buoy: "";
$fa-var-life-ring: "";
$fa-var-life-saver: "";
$fa-var-lightbulb-o: "";
$fa-var-line-chart: "";
$fa-var-link: "";
$fa-var-linkedin: "";
$fa-var-linkedin-square: "";
$fa-var-linux: "";
$fa-var-list: "";
$fa-var-list-alt: "";
$fa-var-list-ol: "";
$fa-var-list-ul: "";
$fa-var-location-arrow: "";
$fa-var-lock: "";
$fa-var-long-arrow-down: "";
$fa-var-long-arrow-left: "";
$fa-var-long-arrow-right: "";
$fa-var-long-arrow-up: "";
$fa-var-magic: "";
$fa-var-magnet: "";
$fa-var-mail-forward: "";
$fa-var-mail-reply: "";
$fa-var-mail-reply-all: "";
$fa-var-male: "";
$fa-var-map-marker: "";
$fa-var-mars: "";
$fa-var-mars-double: "";
$fa-var-mars-stroke: "";
$fa-var-mars-stroke-h: "";
$fa-var-mars-stroke-v: "";
$fa-var-maxcdn: "";
$fa-var-meanpath: "";
$fa-var-medium: "";
$fa-var-medkit: "";
$fa-var-meh-o: "";
$fa-var-mercury: "";
$fa-var-microphone: "";
$fa-var-microphone-slash: "";
$fa-var-minus: "";
$fa-var-minus-circle: "";
$fa-var-minus-square: "";
$fa-var-minus-square-o: "";
$fa-var-mobile: "";
$fa-var-mobile-phone: "";
$fa-var-money: "";
$fa-var-moon-o: "";
$fa-var-mortar-board: "";
$fa-var-motorcycle: "";
$fa-var-music: "";
$fa-var-navicon: "";
$fa-var-neuter: "";
$fa-var-newspaper-o: "";
$fa-var-openid: "";
$fa-var-outdent: "";
$fa-var-pagelines: "";
$fa-var-paint-brush: "";
$fa-var-paper-plane: "";
$fa-var-paper-plane-o: "";
$fa-var-paperclip: "";
$fa-var-paragraph: "";
$fa-var-paste: "";
$fa-var-pause: "";
$fa-var-paw: "";
$fa-var-paypal: "";
$fa-var-pencil: "";
$fa-var-pencil-square: "";
$fa-var-pencil-square-o: "";
$fa-var-phone: "";
$fa-var-phone-square: "";
$fa-var-photo: "";
$fa-var-picture-o: "";
$fa-var-pie-chart: "";
$fa-var-pied-piper: "";
$fa-var-pied-piper-alt: "";
$fa-var-pinterest: "";
$fa-var-pinterest-p: "";
$fa-var-pinterest-square: "";
$fa-var-plane: "";
$fa-var-play: "";
$fa-var-play-circle: "";
$fa-var-play-circle-o: "";
$fa-var-plug: "";
$fa-var-plus: "";
$fa-var-plus-circle: "";
$fa-var-plus-square: "";
$fa-var-plus-square-o: "";
$fa-var-power-off: "";
$fa-var-print: "";
$fa-var-puzzle-piece: "";
$fa-var-qq: "";
$fa-var-qrcode: "";
$fa-var-question: "";
$fa-var-question-circle: "";
$fa-var-quote-left: "";
$fa-var-quote-right: "";
$fa-var-ra: "";
$fa-var-random: "";
$fa-var-rebel: "";
$fa-var-recycle: "";
$fa-var-reddit: "";
$fa-var-reddit-square: "";
$fa-var-refresh: "";
$fa-var-remove: "";
$fa-var-renren: "";
$fa-var-reorder: "";
$fa-var-repeat: "";
$fa-var-reply: "";
$fa-var-reply-all: "";
$fa-var-retweet: "";
$fa-var-rmb: "";
$fa-var-road: "";
$fa-var-rocket: "";
$fa-var-rotate-left: "";
$fa-var-rotate-right: "";
$fa-var-rouble: "";
$fa-var-rss: "";
$fa-var-rss-square: "";
$fa-var-rub: "";
$fa-var-ruble: "";
$fa-var-rupee: "";
$fa-var-save: "";
$fa-var-scissors: "";
$fa-var-search: "";
$fa-var-search-minus: "";
$fa-var-search-plus: "";
$fa-var-sellsy: "";
$fa-var-send: "";
$fa-var-send-o: "";
$fa-var-server: "";
$fa-var-share: "";
$fa-var-share-alt: "";
$fa-var-share-alt-square: "";
$fa-var-share-square: "";
$fa-var-share-square-o: "";
$fa-var-shekel: "";
$fa-var-sheqel: "";
$fa-var-shield: "";
$fa-var-ship: "";
$fa-var-shirtsinbulk: "";
$fa-var-shopping-cart: "";
$fa-var-sign-in: "";
$fa-var-sign-out: "";
$fa-var-signal: "";
$fa-var-simplybuilt: "";
$fa-var-sitemap: "";
$fa-var-skyatlas: "";
$fa-var-skype: "";
$fa-var-slack: "";
$fa-var-sliders: "";
$fa-var-slideshare: "";
$fa-var-smile-o: "";
$fa-var-soccer-ball-o: "";
$fa-var-sort: "";
$fa-var-sort-alpha-asc: "";
$fa-var-sort-alpha-desc: "";
$fa-var-sort-amount-asc: "";
$fa-var-sort-amount-desc: "";
$fa-var-sort-asc: "";
$fa-var-sort-desc: "";
$fa-var-sort-down: "";
$fa-var-sort-numeric-asc: "";
$fa-var-sort-numeric-desc: "";
$fa-var-sort-up: "";
$fa-var-soundcloud: "";
$fa-var-space-shuttle: "";
$fa-var-spinner: "";
$fa-var-spoon: "";
$fa-var-spotify: "";
$fa-var-square: "";
$fa-var-square-o: "";
$fa-var-stack-exchange: "";
$fa-var-stack-overflow: "";
$fa-var-star: "";
$fa-var-star-half: "";
$fa-var-star-half-empty: "";
$fa-var-star-half-full: "";
$fa-var-star-half-o: "";
$fa-var-star-o: "";
$fa-var-steam: "";
$fa-var-steam-square: "";
$fa-var-step-backward: "";
$fa-var-step-forward: "";
$fa-var-stethoscope: "";
$fa-var-stop: "";
$fa-var-street-view: "";
$fa-var-strikethrough: "";
$fa-var-stumbleupon: "";
$fa-var-stumbleupon-circle: "";
$fa-var-subscript: "";
$fa-var-subway: "";
$fa-var-suitcase: "";
$fa-var-sun-o: "";
$fa-var-superscript: "";
$fa-var-support: "";
$fa-var-table: "";
$fa-var-tablet: "";
$fa-var-tachometer: "";
$fa-var-tag: "";
$fa-var-tags: "";
$fa-var-tasks: "";
$fa-var-taxi: "";
$fa-var-tencent-weibo: "";
$fa-var-terminal: "";
$fa-var-text-height: "";
$fa-var-text-width: "";
$fa-var-th: "";
$fa-var-th-large: "";
$fa-var-th-list: "";
$fa-var-thumb-tack: "";
$fa-var-thumbs-down: "";
$fa-var-thumbs-o-down: "";
$fa-var-thumbs-o-up: "";
$fa-var-thumbs-up: "";
$fa-var-ticket: "";
$fa-var-times: "";
$fa-var-times-circle: "";
$fa-var-times-circle-o: "";
$fa-var-tint: "";
$fa-var-toggle-down: "";
$fa-var-toggle-left: "";
$fa-var-toggle-off: "";
$fa-var-toggle-on: "";
$fa-var-toggle-right: "";
$fa-var-toggle-up: "";
$fa-var-train: "";
$fa-var-transgender: "";
$fa-var-transgender-alt: "";
$fa-var-trash: "";
$fa-var-trash-o: "";
$fa-var-tree: "";
$fa-var-trello: "";
$fa-var-trophy: "";
$fa-var-truck: "";
$fa-var-try: "";
$fa-var-tty: "";
$fa-var-tumblr: "";
$fa-var-tumblr-square: "";
$fa-var-turkish-lira: "";
$fa-var-twitch: "";
$fa-var-twitter: "";
$fa-var-twitter-square: "";
$fa-var-umbrella: "";
$fa-var-underline: "";
$fa-var-undo: "";
$fa-var-university: "";
$fa-var-unlink: "";
$fa-var-unlock: "";
$fa-var-unlock-alt: "";
$fa-var-unsorted: "";
$fa-var-upload: "";
$fa-var-usd: "";
$fa-var-user: "";
$fa-var-user-md: "";
$fa-var-user-plus: "";
$fa-var-user-secret: "";
$fa-var-user-times: "";
$fa-var-users: "";
$fa-var-venus: "";
$fa-var-venus-double: "";
$fa-var-venus-mars: "";
$fa-var-viacoin: "";
$fa-var-video-camera: "";
$fa-var-vimeo-square: "";
$fa-var-vine: "";
$fa-var-vk: "";
$fa-var-volume-down: "";
$fa-var-volume-off: "";
$fa-var-volume-up: "";
$fa-var-warning: "";
$fa-var-wechat: "";
$fa-var-weibo: "";
$fa-var-weixin: "";
$fa-var-whatsapp: "";
$fa-var-wheelchair: "";
$fa-var-wifi: "";
$fa-var-windows: "";
$fa-var-won: "";
$fa-var-wordpress: "";
$fa-var-wrench: "";
$fa-var-xing: "";
$fa-var-xing-square: "";
$fa-var-yahoo: "";
$fa-var-yelp: "";
$fa-var-yen: "";
$fa-var-youtube: "";
$fa-var-youtube-play: "";
$fa-var-youtube-square: "";
