%button {
  @include appearance(none);

  -webkit-font-smoothing: antialiased;
  background-color: $base-button-bg-color;
  border-radius: none;
  border: none;
  cursor: pointer;
  font-family: $condensed-font-family;
  text-transform: uppercase;
  padding: 1rem 2rem;
  display: inline-block;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
  max-width: 18.125rem;
  margin: 0 auto;
  color: $base-button-color;
  font-size: modular-scale(1);
  letter-spacing: 0.045rem;

  // padding: 0.7rem 1.5rem;
  @include media($small-screen) {
    // font-size: modular-scale(2);
    // padding: 0.8rem 1.85rem;
  }


  @include media($medium-screen) {
    // font-size: modular-scale(3);
    // padding: 1rem 2rem;
  }


  &:hover,
  &:focus {
    @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color, border-color, opacity));

    background-color: $tab-bg-active;
    color: $light-gray;
    outline: none;
  }

  &:focus {
    outline: inherit;
  }

  &:active {
    background-color: $tab-bg-active;
    color: $light-gray;
  }

  .views-submit-button & {
    &:disabled {
      cursor: not-allowed;
      opacity: 1;
      display: inline-block;
    }
  }

  &:disabled {
    cursor: not-allowed;
    display: block;
  }
}

#{$all-button-inputs},
button,
a.button,
.button,
.read-more-link a {
  @extend %button;

  .uw-site-footer1--contact & {
    background: transparent;
    border-top: 1px solid lighten($gray, 10%);
    border-bottom: 1px solid lighten($gray, 10%);
    color: $white;
    position: relative;

    &:after {
      position: absolute;
      top: 40%;
      left: 75%;
      z-index: 2;
      display: block;
      content: $fdsu-arrow;
      font-family: $fdsu-icon-font;
      color: $white;
      font-size: modular-scale(-2);
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transform-origin: 50% 50%;
      -webkit-transform: scale(1, 1) rotate(90deg);
      -ms-transform: scale(1, 1) rotate(90deg);
      transform: scale(1, 1) rotate(90deg);
      text-align: center;

      @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color, border-color, opacity, transform));
    }

    &:active {
      &:after {
        color: #666;

        @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color, border-color, opacity, transform));
      }
    }

    &:hover {
      &:after {
        color: #666;

        @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color, border-color, opacity, transform));
      }
    }

    .site-footer-toggle & {
      &:after {
        -webkit-font-smoothing: antialiased;
        -webkit-transform: scale(1, -1) rotate(90deg);
        -ms-transform: scale(1, -1) rotate(90deg);
        transform: scale(1, -1) rotate(90deg);

        @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color, border-color, opacity, transform));
      }
    }

    &:hover {
      color: #666;
      outline: none;
      background-color: $neutral;
      border-top: 1px solid darken($gray, 5%);
      border-bottom: 1px solid darken($gray, 5%);

      @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color, border-color, opacity));
    }

    &:focus {
      outline: none;
    }
  }

  .uw-search_action & {
    &[type=submit] {
      background-color: $uw-gold;
      color: $uw-black;

      @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color, border-color, opacity));

      &:hover {
        outline: none;
        background-color: $neutral;
      }
    }
  }

  .marketing-item & {
    background-color: $uw-gold;
    color: $black;
  }

  &.ct-filters {
    &--filter {
      max-width: 100%;
      height: 3.563rem;

      // color:$uw-black;
      &:hover {
        color: $white;
        background-color: $uw-black;
      }
    }

    &--close {
      color: $white;
      text-decoration: none;
      position: absolute;
      flex: none;
      background-color: transparent;
      right: 0;
      top: 0;
      width: auto;
      max-width: inherit;
      padding: 0.5rem 0;

      @include media($small-screen) {}


      @include media($large-screen) {}


      &:before {
        font-family: $fdsu-icon-font;
        content: $fdsu-close;
        font-size: modular-scale(4);
        padding: 0.5rem;
      }

      &:hover {
        &:before {
          text-decoration: none;
          color: $black;
          background-color: $yellow-dark;
          padding: 0.5rem;
        }
      }
    }
  }

  .uw-site-sidebar--wrapper & {
    max-width: 100%;
  }

  .owl-buttons & {
    @include appearance(none);

    -webkit-font-smoothing: antialiased;
    background-color: transparent;
    border-radius: none;
    border: none;
    cursor: pointer;
    font-weight: $weight-bold;
    font-family: $condensed-font-family;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 8rem;
    max-width: 10rem;
    margin: inherit;
    color: $gray;

    @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color, border-color, opacity));

    &:hover,
    &:focus {
      @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color, border-color, opacity));

      background-color: $gray;
      color: $light-gray;
      outline: none;
    }

    &:focus {
      outline: inherit;
    }

    &:active {
      background-color: $gray;
      color: $light-gray;
    }
  }

  .owl-pagination & {
    @include appearance(none);

    -webkit-font-smoothing: inherit;
    background-color: #59595F;
    border-radius: 50%;
    border: inherit;
    cursor: inherit;
    font-weight: inherit;
    font-family: inherit;
    text-transform: inherit;
    display: inline-block;
    text-decoration: inherit;
    user-select: inherit;
    vertical-align: inherit;
    white-space: inherit;
    padding: 0.5rem;
    width: 0.5rem;
    height: 0.5rem;
    max-width: inherit;
    margin: 0.5rem;
    color: inherit;

    @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color, border-color, opacity));

    &:hover,
    &:focus {
      @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color, border-color, opacity));

      background-color: #949494;
      color: #949494;
      outline: none;
    }

    &:focus {
      outline: inherit;
    }

    &.active {
      background-color: #949494;
      color: #949494;
    }
  }
}
