.captioned-image-wrapper {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;

  @include media($large-screen) {
    display: inline-block;
  }
}

.captioned-image-wrapper .captioned-image-image {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;

  @include media($large-screen) {
    display: inline-block;
    min-width: 75%;
    max-width: 75%;
  }
}

.captioned-image-wrapper.left .captioned-image-image {
  @include media($large-screen) {
    float: left;
  }
}

.captioned-image-wrapper.right .captioned-image-image {
  @include media($large-screen) {
    float: right;
  }
}

.captioned-image-wrapper .captioned-image-image img {
  width: 100%;
  display: block;
}

@include media($large-screen) {
  .captioned-image-wrapper.left .captioned-image-image blockquote.image-field-caption {
    left: 0;
  }

  .captioned-image-wrapper.right .captioned-image-image blockquote.image-field-caption {
    right: 0;
  }
}


.captioned-image-image blockquote.image-field-caption {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  display: block;
  padding: 1rem;
  position: relative;
  margin: 0;
  text-align: justify;

  @include media($medium-screen) {
    position: absolute;
    display: inline-block;
    bottom: 0.8rem;
    margin: 0 -40%;
    width: 80%;
  }


  @include media($large-screen) {
    position: absolute;
    bottom: 1rem;
    margin: 0;
    max-width: 55rem;
    padding: 1rem 2rem;
  }
}

.captioned-image-image blockquote.image-field-caption p {
  margin: 0;
  color: $uw-white;
  font-size: 1rem;
  text-align: justify;
}

.captioned-image-wrapper .captioned-image-text-wrapper {
  display: inline-block;
  background-color: $uw-black;
  color: $uw-white;
  width: 100%;
  padding: 0;
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;

  @include media($large-screen) {
    z-index: 10;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
  }
}

@include media($large-screen) {
  .captioned-image-wrapper .captioned-image-text-wrapper {
    max-width: 40%;
  }

  .captioned-image-wrapper.left .captioned-image-text-wrapper {
    right: 0;
  }

  .captioned-image-wrapper.right .captioned-image-text-wrapper {
    left: 0;
  }

  .captioned-image-text-wrapper .captioned-image-text--inner {
    height: 100%;
  }
}


.captioned-image-text-wrapper .captioned-image-text-icon {
  width: 25%;
  float: left;
  text-align: right;
  padding-right: 1rem;

  img {
    max-width: 50px;
    max-height: 50px;
  }

  @include media($large-screen) {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    img {
      max-width: 100px;
      max-height: 100px;
      padding: 1rem;
    }
  }
}

.captioned-image-text-wrapper .captioned-image-text-text {
  font-size: 1.2rem;
  padding: 1rem;
  margin-left: auto;
  width: 75%;
  text-align: left;
  font-family: $font-bg-cond-book;

  @include media($large-screen) {
    font-size: 2rem;
  }
}
