.content-body .field-name-body p.ckmailman {
  display: block;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

// Expand/Collapse ckeditor template.
.js .field-name-body .expandable,
.js .field-name-field-sph-copy .expandable {
  margin-bottom: 1rem;

  h2 {
    margin: 0;

    &:first-child {
      border: none;
      width: 100%;
      padding-bottom: 0;
      font-weight: normal;

      button {
        padding: 0.75rem;
        text-align: center;
        position: relative;

        &:after {
          position: absolute;
          top: 40%;
          right: 5%;
          z-index: 2;
          display: block;
          content: $fdsu-arrow;
          font-family: $fdsu-icon-font;
          color: $gray;
          font-size: modular-scale(-2);
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          transform-origin: 50% 50%;
          -webkit-transform: scale(1, 1) rotate(90deg);
          -ms-transform: scale(1, 1) rotate(90deg);
          transform: scale(1, 1) rotate(90deg);
          text-align: center;

          @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color, border-color, opacity, transform));
        }

        &:hover {}

        max-width: inherit;

        &::-moz-focus-inner {
          padding: 0;
          border: none;
        }

        &:hover,
        &:focus {
          &:after {
            color: $white;
          }
        }

        &:focus {
          outline: none;
        }
      }
    }
  }

  .expandable-content {
    display: none;
    background: #FAFAFA;

    @extend %ct_box;

    min-height: inherit;
    margin-top: 0;
  }

  .last-visible {
    margin-bottom: 0;
  }

  &.expanded {
    .expandable-content {
      display: block;
      margin-top: 0;
      min-height: inherit;

      @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color, border-color, opacity, transform));
    }
  }
}

/*fixes drop shadow problems in IE10+, unfortunately must apply to all browsers*/
.ie-resize-fix {
  // height: 1em;
}

html {
  background: $black;
}

.off-screen {
  display: block;
  text-indent: -9999px;
  height: 0px;
  overflow: hidden;
}

.element-invisible {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
}

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

#navbar-administration {
  z-index: map-get($zindex, overlay);
}

#navbar-administration {
  z-index: map-get($zindex, overlay);
}

.page-user {
  .region-content {
    @include outer-container;

    text-align: left;
    padding-top: 1rem;
    border: 1px solid #bbb;
    border-top: 0px solid transparent;

    .block-system {
      @include span-columns(8);

      @include shift(2);
    }
  }
}

#block-workbench-block {
  @include outer-container;

  .workbench-info-block {
    @include span-columns(12);
  }
}

#block-system-main {
  position: relative;
}

.content {
  @include fill-parent;

  .field-name-field-sph-copy {
    @include outer-container;

    p, h1, h3, h4, h5, h6 {
      @include media($medium-screen) {
        @include span-columns(9 of 12);

        @include shift(1.5);
      }
    }

    div {
      p, h1, h3, h4, h5, h6 {
        @include span-columns(12 of 12);

        @include shift(0);
      }
    }

    blockquote {
      margin: 0 auto;

      @include media($medium-screen) {
        margin: inherit;
      }


      p {
        margin: inherit;
        width: inherit;
        float: inherit;
        display: inherit;
      }
    }
  }

  &-body {
    padding: 2.3rem 0;

    @include outer-container;

    .field-name-body {
      blockquote {
        margin: 0 auto;

        @include media($small-screen) {
          margin: inherit;
        }


        p {
          margin: inherit;
          width: inherit;
          float: inherit;
          display: inherit;
        }
      }

      @include media($medium-screen) {
        p, h1, h3, h4, h5, h6 {
          @include span-columns(9 of 12);

          @include shift(1.5);
        }

        div {
          p, h1, h3, h4, h5, h6 {
            @include span-columns(12 of 12);

            @include shift(0);
          }
        }
      }
    }
  }
}

// layout of global elements

.uw-section {
  &--inner {
    padding: 0rem 1rem 0rem 1rem;
    clear: both;

    @include outer-container;

    @include media($xsmall-screen) {}


    @include media($small-screen) {
      padding: 0rem 2.5rem;
    }


    @include media($medium-screen) {
      padding: 0rem 1rem;
    }


    @include media($large-screen) {
      // padding:0;
    }


    .uw-site--colors & {
      @include outer-container(100%);

      padding: 0;
    }

    .uw-site--main-top & {
      @include outer-container;
    }

    // Push and pull inner sections of paragraphs entity content to full width or outer-container width.
    .paragraphs-item-sph-marketing-block & {}

    .paragraphs-item-uw-para-options-blocks & {}

    .paragraphs-item-copy-block & {}

    .paragraphs-item-sph-marketing-block &,
    .paragraphs-items-field-sph-quicklink & {
      @include outer-container(100%);
    }

    .paragraphs-item-sph-marketing-block & {
      padding: 0;
    }

    .paragraphs-item-sph-remote-events-block & {}

    .uw-site--banner & {
      @include outer-container(100%);

      padding: 0;
    }
  }
}

.uw-site {
  @include outer-container(100%);

  //make 100% for full width
  &--colors {
    @include outer-container(100%);
  }

  &--cbar {
    @include align-items(start);

    // start|end|center|baseline|stretch
    @include display(flex);

    @include flex-direction(row);

    // row | row-reverse | column | column-reverse
    @include justify-content(flex-start);

    @include flex-wrap(wrap);

    //  nowrap | wrap | wrap-reverse
    @include box-orient(horizontal);

    // horizontal|vertical|inline-axis|block-axis|inherit
    @include box-pack(start);

    // start|end|center|justify
    @include box-lines(multiple);

    // single|multiple
    width: 100%;

    .uw-cbar {
      padding: 0;
      margin: 0;
      height: 0.625rem;

      @include flex(1);

      @include media($small-screen) {
        height: 0.875rem;
      }


      @include media($medium-screen) {
        height: 1rem;
      }


      @include media($large-screen) {
        height: 1.125rem;
      }
    }
  }

  &--inner {
    overflow: hidden;

    @include outer-container(100%);

    // make 100% for full width
 
  }

  &--banner {
    @include outer-container(100%);
  }

  &--messages {
    @include outer-container;
  }

  &--help {
    @include outer-container;
  }

  &--breadcrumb {}

  &--main-top {
    @include outer-container;
  }

  &--main {
    @include outer-container(100%);

    margin-bottom: 2rem;
  }

  &--title {}

  &-admin {
    &--tabs {}
  }

  &-content {
    // #content -- content body column that can be wide or not
    min-height: 1px;
    display: block;
    padding: 0;

    .gmap {
      margin: 1rem 0;
    }

    @include outer-container(100%);

    @include media($xsmall-screen) {}


    @include media($medium-screen) {}


    @include media($large-screen) {}
  }
}

.image-right {
  float: right;
}

.image-left {
  float: left;
}

.image-center {
  margin: 0 auto;
}

//inner layout
.col-50,
.col-33,
.col-66,
.threecol-33 {
  @include media($small-screen) {
    float: left;
  }
}

.col-50.first,
.col-33.first,
.col-66.first,
.threecol-33 {
  @include media($small-screen) {
    margin-right: 4%;
  }
}

.threecol-33.last {
  margin-right: 0;
}

.col-50 {
  width: 100%;

  @include media($small-screen) {
    width: 48%;
  }
}

.col-33 {
  width: 100%;

  @include media($small-screen) {
    width: 32%;
  }
}

.col-66 {
  width: 100%;

  @include media($small-screen) {
    width: 64%;
  }
}

.threecol-33 {
  width: 100%;

  @include media($small-screen) {
    width: 30.666666%;
  }
}

/*legacy*/
.half-column {
  float: left;
  width: 100%;

  @include media($small-screen) {
    width: 48%;
  }
}

.half-column.first {
  @include media($small-screen) {
    margin-right: 4%;
  }
}

.content_node .field-items {
  // padding-bottom: 1rem;
}

// video
.uw_video-embed {
  clear: both;

  .wide & {
    position: relative;
    padding-bottom: 56.25%;

    /* 16:9 */
    padding-top: 1.563rem;
    height: 0;
    margin-bottom: 3.1rem;

    object {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      clear: both;
      margin-bottom: 3.1rem;
    }

    div {
      margin-top: 57%;
    }

    .overlay-open & {
      visibility: hidden;
    }
  }
}

// Other
.view-opportunities {
  span {
    display: inline-block;

    // margin-top:0.2rem;
    // margin-bottom:0.2rem;
 
  }
}

@media screen and (max-width: 767px) {
  #navbar-administration.navbar-oriented .navbar-tray-vertical > .navbar-lining::before {
    height: 0px;
  }
}

.seperator {
  height: 400px;
}

#main-menu > ul > li.last.expanded.active-trail > a {
  padding-left: 0.4rem;
}

.contextual-links-region {
  @include clearfix;
}

.mid-content {
  padding: 0 0 2.3rem 0;
}

.paragraphs-items {
  > .entity:nth-child(even) {
    background-color: #fafafa;
  }
}

.skip {
  position: absolute;
  z-index: 1000;
  left: 50%;
  width: 8.5rem;
  text-align: center;
  background: #fff;
}

// expand collapse overwrite

.js body.org_default .node-uw-ct-single-page-home .field-name-field-sph-copy .expandable h2:first-child button,
.js body.org_default .node-uw-ct-single-page-home .field-name-field-sph-copy .expandable-controls button {
  color: $dark-gray;
  background-color: $lighter-gray;

  &:hover,
  &:focus {
    color: $white;
    background-color: $dark-gray;

    &:after {
      color: $white;
    }
  }

  &:after {
    color: $dark-gray;
  }
}

.js body.org_default .node-uw-ct-single-page-home .field-name-field-sph-copy .expandable-controls button.expand-all {
  border-right: 1px solid $light-gray;
}

.hootsuiteWrapper iframe {
  width: 100%;
  min-height: 100px;
}
nav.responsive-menu-combined,
nav.rmc-nav {
  height: 100%;
  border-left: 1px solid transparentize($white, 0.8);
}