.uw-section {
  &--inner {
    .uw-site-footer & {
      @include outer-container;

      min-height: 5.625rem;
    }

    .uw-site-footer.open-site-footer & {
      // background-color:transparent;
      //  @include uw-transition($delay: 0s, $duration:100ms,  $timing:'linear', $property: (height,opacity,visibility,background-color));

    }

    .uw-site-share & {
      @include outer-container(100%);

      min-height: 3rem;
      background: #eee;
      padding: 0;

      @include media($medium-screen) {
        padding: 0rem 0.8rem 0rem 0.8rem;
      }


      @include media($large-screen) {
        padding: 0rem;
      }
    }

    .uw-site-footer--global & {
      @include outer-container;

      padding: 0;
    }
  }
}

.uw-site {
  &-footer {
    @include outer-container(100%);

    position: relative;

    @include uw-transition($delay: 0s, $duration: 400ms, $timing: "linear", $property: (height, opacity, visibility, background-color));

    &.open-site-footer {
      background-color: darken($site-footer-bg, 5);

      @include uw-transition($delay: 0s, $duration: 400ms, $timing: "linear", $property: (height, opacity, visibility, background-color));
    }

    &--global {
      background-color: $site-global-footer-bg;
      position: relative;
      color: $white;
    }
  }

  &-share {
    @include outer-container(100%);

    background-color: #eee;
  }
}

// region footer
.uw-footer,
#uw-footer {
  background-color: $site-footer-bg;
  border: none;

  // padding:0;
  margin-top: 0;
  clear: both;
  position: relative;
}

/*cas login*/
.cas_login {
  position: absolute;
  bottom: 0.6250rem;
  right: 0.6250rem;
  width: auto;
  margin: 0;
  font-size: modular-scale(-2);

  a {
    color: #aaa;
    background-color: #000;
    text-decoration: none;

    &:visited {
      color: #aaa;
      background-color: #000;
      text-decoration: none;
    }
  }
}
