.sph-stories {
  &--wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  &--title-wrapper,
  &--content-wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  &--content {
    text-align: left;
  }

  &--content .sph-story-title {
    text-align: center;
  }

  &--title,
  &--content {
    max-width: 63.125rem;
    margin-left: auto;
    margin-right: auto;
  }

  &--content {
    .sph-story-content p {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }

    .sph-story-content blockquote p {
      font-size: 1.2rem;
      font-family: "Open Sans Condensed", "Arial Narrow", sans-serif;
      font-weight: bold;
      line-height: 1.6;
      color: #757575;
      text-rendering: optimizeLegibility;

      cite {
        display: block;
        font-weight: 300;
        font-style: inherit;
        font-size: 1rem;
        color: #555555;
        margin: 1.7rem 0rem;
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
      }
    }
  }
}
