.sph-heading-block {
  &--wrapper {
    padding-top: 0;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    @include media($medium-screen) {
      .owl-item {
        transform: translateY(300px);
        opacity: 0;
      }

      .animate .owl-item:nth-child(1n) {
        transform: translateY(0);
        opacity: 1;
        transition: transform 0.3s ease-in, opacity 0.3s ease-in;
      }

      .animate .owl-item:nth-child(2n) {
        transform: translateY(0);
        opacity: 1;
        transition: transform 0.3s 0.3s ease-in, opacity 0.3s 0.3s ease-in;
      }

      .animate .owl-item:nth-child(3n) {
        transform: translateY(0);
        opacity: 1;
        transition: transform 0.6s 0.3s ease-in, opacity 0.6s 0.3s ease-in;
      }
    }
  }

  &--inner {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    @include media($medium-screen) {
      width: 80%;
    }
  }

  &--title {
    display: block;
    text-align: left;
    background-color: #FFD54F;
    padding: 0.2rem 0.6rem;
    width: 100%;

    @include media($medium-screen) {
      width: 20rem;
    }


    h3 {
      font-size: 1.2rem;
    }
  }

  &--display-wrapper.with-image {
    width: 100%;

    @include media($medium-screen) {
      display: flex;
    }


    .heading-icon {
      display: none;

      @include media($medium-screen) {
        display: block;
        flex: 0 1 auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
      }
    }

    .heading-image {
      width: 100%;

      @include media($medium-screen) {
        flex: 0 1 auto;

        img {
          float: right;
        }
      }


      picture {
        width: 100%;
      }
    }
  }

  &--display-wrapper {
    background-color: #DFDFDF;
    width: 100%;
    display: block;
    clear: both;
    overflow: hidden;
    max-height: 300px;

    @include media($medium-screen) {
      display: flex;
    }


    .heading-icon {
      width: 100%;

      @include media($medium-screen) {
        width: 20%;
        flex: 0 1 auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
      }
    }

    .sph-heading-block--facts-wrapper {
      width: 100%;

      @include media($medium-screen) {
        flex: 0 1 auto;
        width: 80%;
      }
    }
  }

  &--facts-wrapper {
    .heading-content .owl-wrapper {
      padding: 0;
    }
  }
}
