#sph-navigation-wrapper-clone {
  position: absolute;
  left: -999em;
}

.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
}

.sph-anchor-link-navigation {
  display: block;
}

#sph-navigation-wrapper {
  position: relative;
}

#sph-navigation-wrapper,
#sph-navigation-wrapper-clone {
  margin: auto;
  padding-bottom: 2.2rem;
  opacity: 1;

  @include media($medium-screen) {
    padding-bottom: 0;
  }


  .paragraphs-items-field-sph-navigation-items {
    width: 100%;

    @include media($medium-screen) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .paragraphs-items-field-sph-navigation-items a:nth-child(2n) {
    .sph-navigation-item {
      background-color: $medium-gray;

      @include media($medium-screen) {
        background-color: $white;
      }
    }
  }

  .paragraphs-items-field-sph-navigation-items .sph-navigation-item {
    flex: 0 1 auto;
    padding: 1.2rem;
  }
}

.sph-navigation-item .sph-navigation-text {
  font-family: $font-bg-cond-book;
  font-size: 1.2rem;
}

#sph-navigation-wrapper a {
  text-decoration: none;
  border-bottom: 3px solid $uw-white;
}

#sph-navigation-wrapper a:hover {
  border-bottom: 3px solid $uw-gray;
}

a.navigation-item-anchor-link {
  margin-top: -275px;
}

#sph-navigation-wrapper .sph-navigation-icon img {
  max-width: 50px;

  @include media($medium-screen) {
    max-width: 100px;
  }
}

@include media($medium-screen) {
  #sph-navigation-wrapper.zero-opacity {
    opacity: 0;
  }

  #sph-navigation-wrapper-clone.navigation-pinned {
    position: fixed;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 999;
    opacity: 1;
  }

  #sph-navigation-wrapper-clone .sph-navigation-item .sph-navigation-text {
    font-size: 0.8rem;
  }

  #sph-navigation-wrapper-clone .sph-navigation-icon img {
    max-width: 50px;
  }
}
