table {
  // @include font-feature-settings("kern", "liga", "tnum");
  border-collapse: collapse;
  margin: $small-spacing 0;

  // table-layout: fixed;
  width: 100%;
  margin: 1rem 0;
  max-width: 100%;

  .uw-site--main-content & {
    max-width: 46.875rem;
  }

  .uw-site--main-content .content & {
    width: 100%;
    max-width: 100%;
  }
}

td,
th {
  padding: $small-spacing;
  border: solid 1px #ddd;
  vertical-align: top;
}

th {
  border-bottom: 1px solid darken($base-border-color, 15%);
  font-weight: 600;
  text-align: left;
  font-style: italic;
  background-color: #eee;
}

td {
  border-bottom: $base-border;
}
