// *:focus{outline: thin dotted;}
a:focus {
  outline: thin dotted;
}

body {
  // @include font-feature-settings("kern", "liga", "pnum");
  // -webkit-font-smoothing:antialiased;
  // moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: modular-scale(0);
  line-height: $base-line-height;
  background-color: $body-bg-color;

  @include fontdpi;

  margin: 0;
  padding: 0;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $dark-gray;
  font-family: $condensed-font-family;
  font-weight: $weight-regular;
  line-height: $heading-line-height;
  margin: 0.5rem 0 0.5rem 0;
  padding: 0;
  clear: both;
  letter-spacing: 0.045rem;

  .marketing-item & {
    color: $white;
    font-family: $condensed-font-family;

    @include textShadow;
  }
}

h1 {
  font-size: modular-scale(5);
  text-align: center;
  font-family: $heading-font-family;
  color: $black;
  font-weight: 600;

  @include media($xsmall-screen) {}


  @include media($small-screen) {}


  @include media($medium-screen) {
    font-size: modular-scale(8);
  }


  @include media($large-screen) {}
}

h2 {
  // font-weight:$weight-bold;
  font-size: modular-scale(3);
  line-height: $heading-line-height;

  // padding-bottom: 3px;
  // border-width:1px;
  // border-bottom-style:solid;
  .marketing-item & {
    font-size: modular-scale(4);
  }

  &.uw_utm_h2,
  #program-search-heading &,
  .block-uw-program-search & {
    letter-spacing: none;
    font-size: modular-scale(4);

    @include media($small-screen) {
      font-size: modular-scale(5);
    }


    @include media($medium-screen) {
      font-size: modular-scale(7);
    }


    line-height: 135%;
    margin: 0;

    .org_default & {
      color: $dark-gray;
    }

    text-align: center;
    padding: 2.3rem 0;
    position: relative;
    clear: both;
    font-family: $base-font-family;
    letter-spacing: 0.045rem;
    border-bottom-style: none;

    &:before {
      // content: "";
      // display: block;
      // border-top: solid 2px $neutral;
      // border-bottom-style:none;
      // width: 100%;
      // height: 1px;
      // position: absolute;
      // top: 50%;
      // z-index:map-get($zindex, background);
   
    }

    span {
      font-family: $base-font-family;
      padding: 0 0.5rem;

      @include media($medium-screen) {
        padding: 0 2.3rem;
      }


      // background:$white;
      z-index: map-get($zindex, header);
      position: relative;
      display: inline-block;
    }
  }

  a {
    color: $uw-black;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &.uw_utm_h2 {
    @include outer-container;

    .paragraphs-item-sph-marketing-block & {
      margin-right: 1rem;
      margin-left: 1rem;
    }

    @include media($large-screen) {
      .paragraphs-item-sph-marketing-block & {
        margin-right: auto;
        margin-left: auto;
      }
    }
  }

  &.results-title {
    margin: 0;
    text-align: left;
    clear: both;
    font-family: $heading-font-family-light;
    font-weight: $weight-light;
    border-bottom-style: none;
    font-size: modular-scale(4);

    @include media($small-screen) {
      font-size: modular-scale(5);
    }


    @include media($medium-screen) {
      font-size: modular-scale(7);
    }
  }

  .uw-site-navigation & {
    background-color: $light-gray;
    max-width: 93%;
    font-size: modular-scale(1);
  }

  .banner-text & {
    font-size: modular-scale(7);
    color: $white;
    font-family: $condensed-font-family;
  }

  .uw-site-footer2 & {
    font-size: modular-scale(2);
  }

  .marketing-item & {
    font-size: modular-scale(8);
  }

  // remove the borders
  &.no-border,
  .view-opportunities &,
  &.home-listing-block-link,
  &.event-title,
  &.anchor-name,
  .uw-site-sidebar--second &,
  .uw-site-sidebar--promo &,
  .view-uw-service-categories &,
  .uw-site--modal-wrap &,
  .banner-text .highlight &,
  .marketing-item &,
  &.responsive-menu-combined__menu-first {
    border-bottom-style: none;
  }

  .uw-site--modal-wrap & {
    text-transform: uppercase;
    font-family: $condensed-Book-font-family;
    font-weight: $weight-regular;
    font-size: modular-scale(4);

    @include media($medium-screen) {
      font-size: modular-scale(5);
    }


    button {
      text-align: left;
      background: none;
      color: $white;
      padding: 0;
      line-height: inherit;
      margin: 0.8rem 0;
      font-weight: $weight-bold;
      font-size: modular-scale(3);
    }
  }

  @include media($medium-screen) {
    font-size: modular-scale(4);

    .banner-text & {
      font-size: modular-scale(8);

      @include textShadow;
    }
  }


  @include media($large-screen) {
    .banner-text & {
      font-size: modular-scale(9);
      letter-spacing: 0.075rem;
    }

    .uw-site-navigation & {
      font-size: modular-scale(2);
    }
  }
}

h3 {
  line-height: $heading-line-height;
  font-size: modular-scale(2);

  .has_image & {
    @include textShadow;
  }

  .single-event a & {
    color: $uw-black;
    line-height: 1;
    font-family: $condensed-Book-font-family;
    font-weight: $weight-regular;
    margin-bottom: 0.25rem;
    letter-spacing: 0.045rem;
  }

  .paragraphs-item-uw-para-options-blocks &,
  .quick-link & {
    font-size: modular-scale(4);
    font-weight: $weight-regular;
    font-family: $condensed-font-family;
    color: $dark-gray;

    @include media($xsmall-screen) {
      font-size: modular-scale(4);
    }


    @include media($small-screen) {}


    @include media($medium-screen) {
      font-size: modular-scale(6);
    }
  }

  .quick-link & {
    margin: 1.25rem auto 0.5rem auto;
  }

  @include media($medium-screen) {
    font-size: modular-scale(3);
  }
}

h4 {
  font-size: modular-scale(1);

  @include media($medium-screen) {
    font-size: modular-scale(2);
  }
}

h5 {
  font-size: modular-scale(0);

  @include media($medium-screen) {
    font-size: modular-scale(1);
  }
}

h6 {
  font-size: modular-scale(-1);

  @include media($medium-screen) {
    font-size: modular-scale(0);
  }
}

p {
  margin: 0 0 1rem;
  font-size: modular-scale(0);
  line-height: $base-line-height;
  font-weight: $weight-regular;
  font-family: $base-font-family;

  .marketing-item & {
    color: $white;

    // font-size: modular-scale(2);
    @include textShadow;

    a, .button,
    button {
      text-shadow: none;
      text-decoration: none;
    }

    a {
      background: $light-gray;

      &:hover {
        background: $gray;
        color: $white;
      }
    }
  }

  @include hidpi(1.5) {
    font-weight: $weight-light;
  }


  @include hidpi(2) {
    font-weight: $weight-light;
  }


  .has_image & {
    font-family: $base-font-family;

    @include textShadow;
  }

  #site-footer & {
    font-weight: $weight-regular;
    font-size: modular-scale(-2);
  }

  &.lead {
    margin: 0 0 $small-spacing;
    font-weight: $weight-regular;
    color: $black;
    text-align: center;
    font-size: modular-scale(0);
    line-height: $base-line-height;

    @include media($small-screen) {}
  }

  .banner-text & {
    font-family: $base-font-family;
    color: $white;

    @include media($medium-screen) {
      @include textShadow;
    }
  }

  .paragraphs-item-uw-para-options-blocks & {
    // color:$white;
    // @include textShadow();
 
  }

  .quick-link & {
    margin: 0 auto;
    padding: 0;
  }

  &.date {
    text-transform: uppercase;
    font-family: $heading-font-family-light;
    font-weight: $weight-light;
    font-size: modular-scale(0);
    margin: 0;

    @include media($large-screen) {
      font-size: modular-scale(3);
    }
  }

  &.info {
    font-family: $heading-font-family-light;
    font-size: modular-scale(1);

    + p {
      // min-height:6rem;
   
    }
  }
}

.banner-text {
  text-align: center;
}

p.highlight {
  font-size: modular-scale(2);
  line-height: 1.4;
  color: $uw-black;
}

.caption {
  border: solid 1px #ddd;
  padding: 0.5rem;
  font-size: modular-scale(-2);
  color: $dark-gray;
}

.read-more-link {
  text-align: center;
  margin: 1rem 0;

  .uw-site-sidebar & {
    margin: 0.5rem 0 0 0;
  }

  .view-footer & {
    margin: 1rem 0;
  }
}

a {
  @include transition(color 0.3s linear);

  &:link,
  &:active {
    @include transition(color 0.3s linear);

    text-decoration: underline;
  }

  &:hover {
    // color:$action-color;
    @include transition(color 0.3s linear);

    text-decoration: none;
  }

  &:focus {
    outline: thin dotted;

    // @include transition(color 0.3s linear);
    text-decoration: none;
  }

  .single-event & {
    text-decoration: none;
  }

  .read-more-link & {
    text-decoration: none;

    &:hover {
      color: $white;
    }
  }

  &.tag {
    font-size: modular-scale(-4);
    font-weight: bold;
    display: inline-block;
    color: white;
    padding: 0.5rem 0.8rem;
    margin-left: 0.25rem;
  }

  // .uw-site-footer2 #site-footer &{}
  .local-ist & {
    font-family: $condensed-font-family;
    font-size: modular-scale(-1);
    padding: 0.25rem;
    display: block;

    @include media($xsmall-screen) {
      font-size: modular-scale(-2);
      padding: 0.15rem 0.25rem;
    }


    @include media($medium-screen) {
      font-size: modular-scale(-1);
    }


    text-decoration: none;

    &:hover {
      color: $yellow-dark;
      text-decoration: underline;
    }
  }

  .view-more-social & {
    font-size: modular-scale(4);
    font-weight: $weight-bold;
    font-family: $condensed-font-family;
  }

  .views-field-title & {
    font-size: modular-scale(2);
    font-weight: $weight-bold;
    font-family: $condensed-font-family;

    .uw-site--modal-wrap & {
      font-size: modular-scale(-1);
      font-weight: $weight-regular;
      font-family: $base-font-family;
    }
  }

  .submitted &,
  .links-wrapper & {
    color: $uw-black;
    font-size: modular-scale(-2);
    text-transform: inherit;
  }

  .uw-site--header & {
    font-family: $condensed-font-family;
    text-transform: uppercase;
    font-size: modular-scale(3);
    line-height: 1.25;

    @include media($medium-screen) {
      font-size: modular-scale(6);
    }


    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .site-menu & {
    font-family: $condensed-font-family;
    font-size: modular-scale(-1);
    text-decoration: none;
  }

  .uw-footer-phone & {
    color: $yellow-dark;
    text-decoration: none;
    display: inline;

    &:hover {
      text-decoration: underline;
    }
  }

  .paragraphs-item-uw-para-options-blocks & {
    text-decoration: none;
    color: $black;

    .has_image & {
      line-height: 1.4;
    }

    p {
      font-family: $base-font-family;
      line-height: 1.5rem;
      font-weight: 500;

      .has_image & {
        line-height: 1.4;
        color: $white;
      }

      @include media($xsmall-screen) {}


      @include media($small-screen) {}


      @include media($medium-screen) {
        .has_image & {
          font-size: modular-scale(1);
        }
      }


      @include media($large-screen) {
        .has_image & {
          font-size: modular-scale(2);
          line-height: 1.4;
        }
      }
    }
  }

  h2 & {
    text-decoration: none;
  }
}

hr {
  border-width: 1px;
  border-top-style: solid;
  margin-bottom: 1rem;
}

img,
picture {
  height: auto;
  max-width: 100%;
  margin: 0;
  border: none;
  outline: none;

  a & {
    border: none;
    outline: none;
  }
}

object {
  .uw-site--main-content & {
    max-width: 100%;
  }
}

address {
  margin-bottom: 1rem;
}

strong {
  font-weight: $weight-extrabold;
}

/* Blockquotes */
blockquote {
  &:lang(en) {
    quotes: "\201C" "\201D" "\2018" "\2019";
  }

  &:lang(fr) {
    quotes: "\00AB\00A0" "\00A0\00BB" "\2039\00A0" "\00A0\203A";
  }

  margin-right: auto;
  margin-left: auto;
  padding: 2rem;
  background: $light-gray;
  color: $dark-gray;
  text-align: center;
  line-height: $base-line-height;
  font-size: modular-scale(2);
  font-family: $base-font-family;
  font-weight: $weight-bold;
  width: 100%;

  .marketing-item & {
    width: 100%;
    padding: 0rem;
    color: $white;

    @include textShadow;

    background-color: transparent;
    text-align: center;
    line-height: 1.25;
    font-size: modular-scale(2);
    font-family: $base-font-family;
    font-weight: $weight-regular;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }

  > p:before {
    // color: $dark-gray;
    // font-size: modular-scale(9);
    // content:"\201C";
    // font-family: 'arial',sans-serif;
    // font-weight:$weight-bold;
    // display:inline-block;
    // text-align:left;
    // height:1rem;
    // line-height: modular-scale(6);
    // vertical-align: text-top;
    .marketing-item & {
      // color:$uw-gold;
      // @include textShadow();
      // font-size: modular-scale(9);
      // content:"\201C";
      // font-family: 'arial',sans-serif;
      // font-weight:$weight-bold;
      // display:inline-block;
      // text-align:left;
      // height:1rem;
      // line-height: modular-scale(6);
      // vertical-align: text-top;
   
    }

    .ie10 & {
      vertical-align: text-bottom;
    }
  }

  > p:after {
    // color: $dark-gray;
    // font-size: modular-scale(9);
    // content:"\201D";
    // font-family: 'arial',sans-serif;
    // font-weight:$weight-bold;
    // display:inline-block;
    // text-align:left;
    // height:0.75rem;
    // line-height:modular-scale(9);
    // vertical-align: text-top;
    .marketing-item & {
      // color:$uw-gold;
      // @include textShadow();
      // font-size: modular-scale(9);
      // content:"\201D";
      // font-family: 'arial',sans-serif;
      // font-weight:$weight-bold;
      // display:inline-block;
      // text-align:left;
      // height:0.75rem;
      // line-height:modular-scale(9);
      // vertical-align: text-top;
   
    }

    .ie10 & {
      vertical-align: text-bottom;
    }
  }

  p {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    color: $dark-gray;
    text-align: center;
    line-height: $base-line-height;
    font-size: modular-scale(2);
    font-family: $base-font-family;
    font-weight: $weight-regular;

    .marketing-item & {
      // &:before,
      // &:after{
      //   content:"";
      //   display:none;
      //   height:0;
      //   line-height:0;
      // }
      color: $white;
      font-size: modular-scale(2);
      text-align: center;
      line-height: 1.25;
      font-size: modular-scale(2);
      font-family: $base-font-family;
      margin-bottom: 0.5rem;
      margin-top: 0.5rem;
    }
  }

  cite {
    color: $dark-gray;
    font-weight: $weight-light;
    font-family: $condensed-font-family;
    font-size: modular-scale(1);
    margin: 1.7rem 0rem;
    font-style: normal;
    display: block;

    &:before {
      content: "\2014 \0020";
    }

    strong {
      font-family: $condensed-font-family;
      font-size: modular-scale(1);
      text-transform: uppercase;
      color: $dark-gray;
    }

    .marketing-item & {
      display: block;
      margin: 1.7rem 0rem;
      font-family: $font-bg-book;
      font-weight: $weight-regular;
      font-size: modular-scale(2);
      font-style: inherit;
      text-transform: uppercase;
      color: $white;

      &:before {
        content: "\2014 \0020";
      }

      strong {
        font-family: $condensed-font-family;
        font-weight: $weight-extrabold;
        font-size: modular-scale(2);
        line-height: 1;
        color: $white;
      }
    }
  }

  @include media($small-screen) {
    width: 80%;

    p {
      .marketing-item & {
        font-size: modular-scale(2);
      }
    }
  }


  @include media($medium-screen) {
    font-size: modular-scale(4);

    p {
      font-size: modular-scale(4);

      .marketing-item & {
        font-size: modular-scale(5);
      }
    }

    cite {
      .marketing-item & {
        font-size: modular-scale(5);

        strong {
          font-size: modular-scale(5);
        }
      }
    }

    strong {
      .marketing-item & {
        font-size: modular-scale(0);
      }
    }
  }


  @include media($large-screen) {
    .marketing-item & {}
  }
}

span {
  .local-ist & {
    font-family: $condensed-font-family;
    color: $white;
    font-weight: $weight-regular;
    font-size: modular-scale(-1);
    display: inline-block;
    padding: 0 0.25rem;
  }

  &.day {}

  &.month {
    font-weight: $weight-light;
  }

  &.year {}

  &.time-seperator {
    visibility: hidden;
    opacity: 0;
  }

  &.time {}
}

pre {
  white-space: pre-wrap;
}

caption {
  border: solid 1px #eee;
  border-bottom: none;
  padding: 0.5rem;
  font-style: italic;
}

/* Force content to be white in marketing block*/
.marketing-item {
  p,
  ul, ol,
  div,
  span {
    color: $white;

    @include textShadow;
  }
}

// custom view overwrites

// navigation

.uw-site-footer--global {
  font-size: modular-scale(-1);
  font-family: $font-1451-medium;

  .global-menu li a {
    font-family: $condensed-Book-font-family;
    letter-spacing: 0.045rem;
    text-transform: uppercase;
    padding: 1rem 0.25rem;
    display: block;
    text-decoration: none;
    font-size: modular-scale(-1);

    @include media($xsmall-screen) {
      // font-size: modular-scale(0);
      padding: 0.17rem;
    }


    @include media($medium-screen) {
      padding: 0rem 0;
    }


    &:hover {
      color: $yellow-dark;
      text-decoration: underline;
    }
  }
}

.uw-header--nav__university {
  .global-menu li a {
    font-family: $condensed-Book-font-family;
    letter-spacing: 0.045rem;
    text-transform: uppercase;
    font-size: modular-scale(-1);
    text-decoration: none;

    &:hover {
      // color:$yellow-dark;
      text-decoration: underline;
    }
  }
}
.uw-territorial{
  text-align:center;
  @include media($medium-screen) {
    padding:0;
    margin:0;
    text-align:left;
  }
  p{
    padding:0;
    font-size: modular-scale(-2);
    font-family: $font-1451-regular;
    font-weight:200!important;
    letter-spacing:0.5px;
    line-height:1.7;
    margin-top:1rem;
    @include media($medium-screen) {
      line-height:1.5;}
    a{
      text-decoration:none;
      &:hover {
        text-decoration:underline;
      }
    }
  }
}
//module overwrites
div.uw-site-footer1--logo-dept {
  text-transform: uppercase;
  font-family: $condensed-font-family !important;
  color: #fff;

  // line-height:3.5rem;
  font-size: modular-scale(3);
}

.uw-site-footer2 {
  #block-workbench-block--2 {
    .workbench-info-block {
      a {
        color: #666666;
      }
    }
  }

  #site-footer & {
    color: $white;

    h2, h3, h4, h5, h6, p {
      color: $white;

      a {
        color: $white;

        img {
          border: none;
          outline: none;
        }
      }
    }

    a {
      color: $white;

      &.local-ist {
        font-family: $font-bg-book;
        font-size: modular-scale(-1);
        padding: 0.25rem;
        display: block;

        @include media($xsmall-screen) {
          font-size: modular-scale(-2);
          padding: 0.15rem 0.25rem;
        }


        @include media($medium-screen) {
          font-size: modular-scale(-1);
        }


        text-decoration: none;

        &:hover {
          color: $yellow-dark;
          text-decoration: underline;
        }
      }

      .tab {
        color: #252525;
      }

      #site-footer & {
        color: $white;
        font-size: modular-scale(-1);
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }

        img {
          border: none;
          outline: none;
        }
      }
    }
  }
}

.view-opportunities {
  br {
    display: none;
  }

  strong {
    font-size: modular-scale(1);
    font-weight: $weight-bold;
    font-family: $condensed-font-family;
  }

  .views-field-field-opportunity-type {
    span {
      font-size: modular-scale(-2);
      font-family: $condensed-font-family;
      font-weight: $weight-bold;
      color: $gray;
    }
  }
}

// *{
//   @include uw-transition($delay: 0s, $duration:200ms,  $timing:'linear', $property: (color, background-color,border-color,opacity));
//     &:hover{
//   @include uw-transition($delay: 0s, $duration:200ms,  $timing:'linear', $property: (color, background-color,border-color,opacity));
//   }
// }
.uw-search_action {
  .form-text {
    &[type=text] {
      font-family: $font-1451-medium;
      color: $dark-gray;
    }
  }
}

.uw-search_options {
  .options {
    font-size: modular-scale(-1);
  }
}

label {
  .views-exposed-form & {
    font-size: modular-scale(-1);
    font-weight: $weight-regular;

    .logged-in & {
      font-size: modular-scale(-1);
      font-weight: $weight-regular;
    }
  }
}

table {
  line-height: 1.4;
  font-size: modular-scale(-1);

  p, b {
    line-height: 1.4;
    font-size: modular-scale(-1);
  }

  td & {
    line-height: 1.4;
    font-size: modular-scale(-1);
  }
}

a {
  // @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color, border-color, opacity));

  &:hover {
    // @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color, border-color, opacity));
 
  }
}

.types {
  line-height: 1;

  li {
    font-size: modular-scale(-3);
    font-family: $font-1451-medium;
    text-decoration: none;
    text-transform: uppercase;
    display: inline;
    line-height: 1;
    padding-left: 0;
  }
}

// jquery theme ui.
.ui-widget {
  font-size: modular-scale(-1);
  line-height: 1;
  font-weight: $weight-light;
  font-family: $base-font-family;

  .ui-widget & {
    font-size: modular-scale(-1);

    input, select, textarea, button {
      font-size: modular-scale(-1);
      line-height: $base-line-height;
      font-weight: $weight-light;
      font-family: $base-font-family;
    }
  }

  input, select, textarea, button {
    font-size: modular-scale(-1);
    line-height: $base-line-height;
    font-weight: $weight-light;
    font-family: $base-font-family;
  }
}

.ui-autocomplete-field-title {
  font-size: modular-scale(0);
  font-weight: $weight-regular;
  font-family: $base-font-family;
  color: $dark-gray;

  .ui-autocomplete-field-term {
    color: $uw-black;
  }
}

.ui-autocomplete-field-term {
  font-size: modular-scale(0);
  font-weight: $weight-regular;
  font-family: $base-font-family;
  color: $uw-black;
}

.skip {
  font-family: $font-bg-book;
  font-weight: $weight-light;
  font-size: modular-scale(-1);
}
