$faculty-colors: uWaterloo $black #fdd54f #fdd54f #fdd54f, ahs #005963 #97DFEF #0098A5 #97DFEF, arts #D93F00 #FFD5A5 #E78100 #FFD5A5, engineering #57058B #D0B4EF #8100B4 #D0B4EF, environment #607000 #DAF582 #B4BE00 #DAF582, math #C60078 #FFBEEF #DF2498 #FFBEEF, science #0033BE #B4D5FF #0073CE #B4D5FF, conrad $uw-school $uw-conrad-light #fdd54f $uw-conrad-light, renison $uw-ren $uw-renison-light #fdd54f $uw-renison-light, st-jeromes $uw-stj $uw-st-jeromes-light #fdd54f $uw-st-jeromes-light, st-pauls #607000 $uw-st-pauls-light #fdd54f $uw-st-pauls-light, schools $uw-school $uw-schools-light #fdd54f $uw-schools-light, neutral $black $neutral $neutral $neutral, gray $black $white $white #fdd54f;

.call-to-action {
  &-top-wrapper {
    width: 100%;
    height: 100%;
    clear: both;

    // float: left;
    // margin-bottom: 1rem;
    a {
      display: block;
      height: 6.25rem;
    }

    .sticky-promo & {
      margin-top: 0rem;
    }
  }

  &-center-wrapper {
    @include align-items(center);

    // start|end|center|baseline|stretch
    @include display(flex);

    @include flex-direction(row);

    // row | row-reverse | column | column-reverse
    @include justify-content(center);

    @include flex-wrap(wrap);

    //  nowrap | wrap | wrap-reverse
    @include box-orient(horizontal);

    // horizontal|vertical|inline-axis|block-axis|inherit
    @include box-pack(center);

    // start|end|center|justify
    @include box-lines(multiple);

    // single|multiple
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    aside {
      @include flex(1 0 100%);

      @include media($xsmall-screen) {
        @include flex(1 0 50%);
      }


      @include media($large-screen) {
        @include flex(1 0 30%);
      }
    }
  }

  &-wrapper {
    height: 6.25rem;
    display: table;
    float: left;
    width: 100%;

    // &.cta-two {
    //   height: 6.25rem;
    //   display: table;
    //   width: 100%;

    //   @include media($medium-screen) {
    //     width: 50%;
    //   }

    //   @include media($large-screen) {
    //     width: 50%;
    //   }
    // }

    // &.cta-three {
    //   height: 6.25rem;
    //   display: table;
    //   width: 100%;

    //   @include media($medium-screen) {
    //     width: 50%;
    //   }

    //   @include media($large-screen) {
    //     width: 50%;
    //   }
    // }

    &.cta-sidebar {
      width: 100%;
      height: 6.25rem;
      display: table;
    }

    // .wide & {
    //   &.cta-two {
    //     width: 100%;

    //     @include media($large-screen) {
    //       width: 50%;
    //     }
    //   }

    //   &.cta-three {
    //     height: 6.25rem;
    //     display: table;
    //     width: 100%;

    //     @include media($medium-screen) {
    //       width: 50%;
    //     }

    //     @include media($large-screen) {
    //       width: 33%;
    //     }
    //   }
    // }
 
  }

  &-big-text {
    text-align: center;
    font-size: modular-scale(3);
    font-family: $condensed-Book-font-family;
    letter-spacing: 0.05rem;
    padding: 0 0.250rem 0.313rem 0.250rem;
    line-height: $cta-big-line-height;
  }

  &-small-text {
    text-align: center;
    font-size: modular-scale(-2);
    font-family: $font-1451-medium;
    padding: 0 0.250rem 0.250rem 0.250rem;
    color: $white;
    text-transform: uppercase;
  }

  &-theme {
    @each $faculty-color in $faculty-colors {
      &-#{nth($faculty-color, 1)} {
        display: table-cell;
        background-color: $uw-black;
        color: nth($faculty-color, 3);
        margin: 1px;
        border: 1px solid $white;
        vertical-align: middle;

        a & {
          @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color, border-color, opacity));

          &:hover,
          &:focus {
            background-color: nth($faculty-color, 5);
            border: 1px solid nth($faculty-color, 3);
            color: nth($faculty-color, 2);

            @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color, border-color, opacity));

            .call-to-action-small-text {
              color: nth($faculty-color, 2);
            }
          }

          &:visited {
            background-color: $neutral !important;
            border: 1px solid nth($faculty-color, 3) !important;
            color: nth($faculty-color, 5) !important;

            .call-to-action-small-text {
              color: $black;
            }
          }
        }
      }
    }
  }
}

.call-to-action-theme-gray {
  background: $medium-gray;
  color: $dark-gray;

  a & {
    border: 1px solid $white;

    &:hover,
    &:focus {
      background-color: $white;
      border: 1px solid $dark-gray;
    }

    .call-to-action-small-text {
      color: $dark-gray;
    }
  }
}

.call-to-action-theme-uWaterloo,
.call-to-action-theme-neutral,
.call-to-action-theme-gray {
  a & {
    &:hover,
    &:focus {
      .call-to-action-small-text {
        color: $black;
      }
    }
  }
}
