$datapoint-bg-color: $light-gray !default;
$datapoint-color: $uw-black;

//faculty / uw colors

// $datapoint-color:$uw-gold;
// $datapoint-color:$uw-ahs;
// $datapoint-color:$uw-arts;
// $datapoint-color:$uw-engineering;
// $datapoint-color:$uw-environment;
// $datapoint-color:$uw-math;
// $datapoint-color:$uw-science;

$faculty-colors: (".uwdefault": $uw-black, ".ahs": #005963, ".arts": #D93F00, ".engineering": #57058B, ".environment": #607000, ".math": #C60078, ".science": #0033BE);

@function faculty-color($key: $value) {
  @return map-get($faculty-colors, $key);
}

// $datapoint-color: faculty-color('.math'); // #8e3329

//fonts
$datapoint-font: $body-font-family;
$datapoint-font-big: $condensed-font-family;
$datapoint-font-medium: $highlighted-fact-font;
$datapoint-font-small: $font-1451-medium;
$datapoint-font-caption: $serif-font-family;

//appearance
$datapoint-radius: $global-radius !default;
$datapoint-round: $global-rounded !default;

// $datapoint-color: faculty-color('.math'); // #8e3329
$datapoint-color-tinted: mix(white, $datapoint-color, 10%);
$datapoint-color-shaded: mix(black, $datapoint-color, 10%);

// @each  $faculty-hooks, $color in (
//   '.ahs':#009AA6,
//   '.arts':#E98300,
//   '.engineering':#57068C,
//   '.environment':#747800,
//   '.math':#E0249A,
//   '.science':#0073CF)

//   {
//    #{$faculty-hooks} {
//     $datapoint-color:$color;
//     color:$datapoint-color;
//     // color: $datapoint-color;
//   }

// }

// @mixin faculty($name, $color) {
//   $primary: $color;
//   $secondary: lighten(adjust-hue($color, 20), 10%);

//   .#{$name} {
//     .element {
//       color: $primary;
//     }

//     .other-element {
//       background: $secondary;
//     }
//   }
// }
// @include faculty(theme-banana, yellow);

//ul
.datapoint-wrapper {
  width: 100%;
  display: block;
  float: left;
  height: auto;
  margin: 0;
  position: relative;

  @include rem-fallback(margin-top, 3.5rem);

  @include rem-fallback(margin-bottom, 3.5rem);

  list-style-type: none;
  clear: both;

  .uwm-article-body & {
    padding: 0;
  }
}

%datapoint-point {
  text-align: center;
  font-weight: 300;
  border-radius: $datapoint-radius + 10;
  display: block;

  @include rem-fallback(padding, 1rem);

  float: left;
  width: 100%;
  position: relative;
  margin-right: 1%;
  margin-left: 1%;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  img {
    margin: 0 auto;

    @include rem-fallback(margin-bottom, 1rem);

    display: block;

    @include rem-fallback(width, 7rem);
  }

  span {
    display: block;
    text-align: center;
    clear: both;
    float: none;
  }
}

.datapoint-point {
  @extend %datapoint-point;

  background-color: $datapoint-bg-color;

  $datapoint-color: faculty-color(".uwdefault");

  .datapoint-text-big, .datapoint-text-medium {
    color: $datapoint-color;
  }

  .ahs &,
  &.ahs {
    $datapoint-color: faculty-color(".ahs");

    .datapoint-text-big,
    .datapoint-text-medium {
      color: $datapoint-color;
    }
  }

  .arts &,
  &.arts {
    $datapoint-color: faculty-color(".arts");

    .datapoint-text-big,
    .datapoint-text-medium {
      color: $datapoint-color;
    }
  }

  .engineering &,
  &.engineering {
    $datapoint-color: faculty-color(".engineering");

    .datapoint-text-big,
    .datapoint-text-medium {
      color: $datapoint-color;
    }
  }

  .environment &,
  &.environment {
    $datapoint-color: faculty-color(".environment");

    .datapoint-text-big,
    .datapoint-text-medium {
      color: $datapoint-color;
    }
  }

  .math &,
  &.math {
    $datapoint-color: faculty-color(".math");

    .datapoint-text-big,
    .datapoint-text-medium {
      color: $datapoint-color;
    }
  }

  .science &,
  &.science {
    $datapoint-color: faculty-color(".science");

    .datapoint-text-big,
    .datapoint-text-medium {
      color: $datapoint-color;
    }
  }

  &:nth-child(odd) {
    &::after {
      @include triangle($direction: bottom, $position: "bottom:-41px left 50%", $color: $datapoint-bg-color);
    }
  }

  &:nth-child(even) {
    &::after {
      @include triangle($direction: top, $position: "top:-2rem left 50%", $color: $datapoint-bg-color);
    }

    img {}

    .datapoint-wrapper & {
      margin-right: 1%;
      margin-left: 1%;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    .text-left &,
    &.text-left {
      img {
        float: left;
        clear: both;
      }

      span {
        text-align: left;
        display: block;
        clear: left;
      }
    }

    .text-center &,
    &.text-center {
      span {
        text-align: center;
        display: block;
        clear: both;
      }
    }

    .text-right &,
    &.text-right {
      img {
        margin: 0;
        float: right;
        clear: both;
      }

      span {
        text-align: right;
        display: block;
        clear: right;
      }
    }

    &.img-left {
      img {
        float: left;
      }

      span {
        text-align: left;
        display: block;
        clear: none;
      }
    }

    &.img-right {
      img {
        float: right;
      }

      span {
        text-align: right;
        display: block;
        clear: none;
      }
    }

    .data-row-1 &,
    .data-row-2 &,
    .data-row-3 &,
    .data-row-4 & {
      width: 98%;
    }

    @media #{$small-up} {}

    @media #{$medium-up} {
      //  .data-row-1 &{ width:98%;}
      //  .data-row-2 &{ width:48%;}
      //  .data-row-3 &{width:32%;}
      //  .data-row-4 &{width:23%;}
    }

    @media #{$large-up} {
      .data-row-1 & {
        width: 98%;
      }

      .data-row-2 & {
        width: 48%;
      }

      .data-row-3 & {
        width: 32%;
      }

      .data-row-4 & {
        width: 23%;
      }
    }

    @media #{$xlarge-up} {}

    @media #{$xxlarge-up} {}
  }

  .datapoint-text-big {
    font-family: $datapoint-font;

    @include rem-fallback(font-size, 3.5rem);

    font-weight: 400;
    line-height: 1.125;
  }

  .datapoint-text-medium {
    font-family: $datapoint-font-medium;

    @include rem-fallback(font-size, 1.75rem);

    font-weight: 600;
    line-height: 1.125;
  }

  .datapoint-text-small {
    font-family: $datapoint-font;

    @include rem-fallback(font-size, 1rem);

    line-height: 1.25;
    color: $uw-black;
  }

  .datapoint-caption {
    font-family: $datapoint-font;

    @include rem-fallback(font-size, 0.85rem);

    height: 2rem;
    font-style: italic;
    line-height: 2;
    color: $uw-black;
  }
}
