.uw-site--banner {
  position: relative;
}

.banner {
  &-item {
    overflow: hidden;
    display: block;

    img {}

    text-align: center;
    height: auto;
    background-repeat: no-repeat;

    // background-size:cover; 
    // overflow:hidden;
    @include media($xsmall-screen) {}


    @include media($small-screen) {}


    @include media($medium-screen) {}


    @include media($large-screen) {
      // height:40.563rem;
    }


    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &-text {
    @include align-items(center);

    // start|end|center|baseline|stretch
    @include display(flex);

    @include flex-direction(row);

    // row | row-reverse | column | column-reverse
    @include justify-content(center);

    @include flex-wrap(wrap);

    //  nowrap | wrap | wrap-reverse
    @include box-orient(horizontal);

    // horizontal|vertical|inline-axis|block-axis|inherit
    @include box-pack(center);

    // start|end|center|justify
    @include box-lines(multiple);

    // single|multiple
    position: relative;

    // background-color:$uw-black;
    z-index: map-get($zindex, header);
    bottom: 1rem;
    left: 0;
    right: 0;
    padding: 0;

    @include outer-container;

    .highlight {
      // @include flex(0 0 90%);
      @include flex(0 0 100%);

      padding: 1rem 1rem;
      background-color: $uw-black;

      h2 {
        bottom-border: none;

        &:before {
          display: none;
        }
      }
    }

    @include media($small-screen) {}


    @include media($medium-screen) {
      position: absolute;

      .highlight {
        background-color: rgba(0, 0, 0, 0.75);
      }

      // background-color:rgba(0,0,0,0.75);
    }


    @include media($large-screen) {
      .highlight {
        // @include flex(0 0 70%);
     
      }

      bottom: 1rem;
      position: absolute;

      // background-color:rgba(0,0,0,0.6);
    }


    @include media(rem(1440)) {
      .highlight {
        // @include flex(0 0 60%);
     
      }

      bottom: 1rem;
    }


    @include media(rem(1680)) {
      .highlight {
        // @include flex(0 0 50%);
     
      }
    }
  }
}
