.image-gallery-title-caption {
  padding: 1rem;
}
.uw-image-gallery {
  .caption {
    float: none;
    margin-bottom: 0;
  }
}
.uw-image-gallery .multiple-items {
  .image-title {
    font-size: .9em;
  }
  .owl-item > .item {
    margin: 0 10px;
  }
}
