// Content areas for single page content types.
// Copy Block rules.
.paragraphs-item-copy-block {
  @include outer-container(100%);

  padding: 0 0 2.3rem 0;
}

.field-name-field-sph-copy {
  @include media($xsmall-screen) {}


  @include media($small-screen) {}


  @include media($medium-screen) {}


  @include media($large-screen) {}
}

.paragraphs-items-field-sph-blocks-full {
  @include outer-container(100%);

  padding: 0 0 2.3rem 0;
}

.paragraphs-item-sph-marketing-block {
  @include outer-container(100%);
}

.marketing-item-wrap {
  position: relative;
  background-size: cover;
  position: relative;
  z-index: map-get($zindex, content);

  &:before {
    z-index: map-get($zindex, header);
    content: '';
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
  }

  padding: 6rem 0rem;

  @include media($xsmall-screen) {
    padding: 6rem 0rem;
  }


  @include media($small-screen) {
    padding: 8rem 0rem;
  }


  @include media($medium-screen) {
    padding: 6rem 0rem;
  }


  @include media($large-screen) {
    padding: 10rem 0rem;
  }
}

.marketing-item {
  z-index: map-get($zindex, overlay);
  position: relative;

  @include outer-container;

  padding: 1rem;

  .button,
  button {
    max-width: inherit;
    width: auto;
    white-space: inherit;
    text-decoration: none;
  }

  blockquote {
    padding: 0;
    margin: 0;
  }
}

// Events
.paragraphs-item-sph-remote-events-block {
  @include outer-container(100%);

  padding: 0 0 2.3rem 0;
}

.paragraphs-items-field-events-full {
  @include display(flex);

  @include flex-direction(row);

  // row | row-reverse | column | column-reverse
  @include justify-content(flex-start);

  @include flex-wrap(wrap);

  //  nowrap | wrap | wrap-reverse
  @include align-content(stretch);

  // start|end|center|baseline|stretch
  @include align-items(stretch);

  @include box-orient(horizontal);

  @include box-pack(start);

  @include box-lines(multiple);

  width: 100%;

  .single-event {
    @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color));

    @extend %ct_box;

    border: solid 1px $neutral;

    @include flex(1 0 auto);

    @include media($small-screen) {
      @include flex(1 0 48%);
    }


    @include media($medium-screen) {
      @include flex(1 0 30%);
    }


    img {
      width: 100%;
    }

    img[alt="<--break->"] {
      height: 0px;
    }

    margin: 0.25rem;

    &:hover {
      background-color: $lighter-gray;

      @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color));
    }
  }

  a {
    // margin:0.25rem;
    display: block;

    // order:0;
    width: 100%;

    &:link,
    &:active,
    &:visited {
      // text-decoration:none;
   
    }

    &:hover {
      .date {
        text-decoration: none;
      }

      .info {
        text-decoration: none;
      }

      h3 {
        text-decoration: underline;
      }

      // border-color:$uw-gray;
   
    }

    @include media($xsmall-screen) {}


    @include media($small-screen) {
      // width: 48%;
    }


    @include media($medium-screen) {
      // width: 32%;
    }


    @include media($large-screen) {
      // width: 32%;
    }
  }

  ul.primary {
    margin: 1rem 0 0 0;
    border-color: #bbb;
  }

  .types {
    @include flex(0 1 auto);

    // align-self: start;
    padding: 0rem 1rem 1rem 1rem;
    min-height: 4rem;

    @include media($medium-screen) {
      // padding:1rem;
    }
  }
}

.single-event-info {
  min-height: 18rem;

  @include flex(0 1 auto);

  padding: 1rem 1rem 0 1rem;

  @include media($medium-screen) {
    padding: 1rem;
  }


  .field-name-field-event-title {}
}

.single-event {
  text-align: left;

  @include fill-parent;

  @include display(flex);

  @include flex-direction(column);

  // row | row-reverse | column | column-reverse
  @include justify-content(space-between);

  @include align-content(flex-start);

  // start|end|center|baseline|stretch
}

// Quick links
.paragraphs-items-field-sph-quicklink {}

.paragraphs-items-field-sph-quicklink-full {
  @include align-items(flex-end);

  // start|end|center|baseline|stretch
  @include display(flex);

  @include flex-direction(row);

  // row | row-reverse | column | column-reverse
  @include justify-content(space-between);

  @include flex-wrap(wrap);

  //  nowrap | wrap | wrap-reverse
  @include box-orient(horizontal);

  // horizontal|vertical|inline-axis|block-axis|inherit
  @include box-pack(start);

  // start|end|center|justify
  @include box-lines(multiple);

  // single|multiple
  width: 100%;
  padding: 0 0 2.3rem 0;
}

#quick-link-menu {
  margin: 0;
  padding: 0;
  line-height: 1.5;

  a {
    font-weight: 400;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.quick-link {
  padding: 1.5rem 0;
  position: relative;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: inherit;
  margin: 0 auto;

  @include flex(0 0 100%);

  &:first-child {
    border-top: none;
  }

  @include media($xsmall-screen) {
    &:first-child {
      padding-right: 1rem;
    }

    // @include flex(1 0 48%);
  }


  @include media($small-screen) {
    @include flex(1 0 48%);
  }


  @include media($medium-screen) {
    @include flex(0 0 31%);

    border-top: none;
  }


  @include media($large-screen) {
    @include flex(0 0 31%);
  }


  img {
    width: 5.625rem;
    height: auto;
    position: relative;
    top: 0.825rem;
  }
}

.paragraphs-items-field-events-full a {
  color: #252525;
  display: inline;
  margin: 0;
  width: 100;
  border: none;
}

// sph event styling
.field_event_date .switchable {
  display: none;
}

.js .field_event_date .switchable {
  border: none;
  outline: 0;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 1.7rem;
  display: block;
  z-index: map-get($zindex, modal);
  right: 0.5rem;
  top: 0.48rem;
  overflow: hidden;
  line-height: 1.7rem;

  @include media($medium-screen) {}


  label {
    border: 1px solid #4e4e4e;
    cursor: pointer;
    display: block;
    position: relative;
    width: 5.75rem;
    height: 1.7rem;
    -webkit-transition: left 0.3s ease-out;
    -moz-transition: left 0.3s ease-out;
    -o-transition: left 0.3s ease-out;
    transition: left 0.3s ease-out;

    @include uw-transition($delay: 0s, $duration: 300ms, $timing: "ease-out;", $property: left);

    &:after {
      content: "";
      background-color: #fff;
      display: block;
      height: 1.25rem;
      left: 0.2rem;
      top: 0.2rem;
      position: absolute;
      width: 1.25rem;

      @include uw-transition($delay: 0s, $duration: 300ms, $timing: "ease-out;", $property: left);
    }
  }
}

.field_event_date .multiple {
  position: relative;
  z-index: map-get($zindex, content);
  font-family: $font-1451-light;
}

.single-event:hover .single-event-info .field_event_date .multiple input {
  & ~ .switchable label {
    color: $lighter-gray;

    &:after {
      background-color: $lighter-gray;
    }
  }

  &:checked ~ .switchable label {
    color: #4e4e4e;

    &:after {
      background-color: #4e4e4e;
    }
  }
}

.field_event_date .multiple input {
  left: 10px;
  opacity: 0;
  padding: 0;
  position: absolute;
  top: 9px;
  z-index: map-get($zindex, modal);

  &[type="checkbox"] ~ .switchable label {
    background-color: #4e4e4e;
    color: #fff;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: baseline;
    position: relative;
    font-weight: normal;
    border: 1px solid #4e4e4e;

    span {
      display: block;
      position: absolute;
      font-size: modular-scale(-2);
      font-family: $font-1451-medium;

      &.hide {
        @include uw-transition($delay: 0s, $duration: 300ms, $timing: "ease-out;", $property: left);

        left: -4rem;
        top: 0rem;
      }

      &.show {
        @include uw-transition($delay: 0s, $duration: 300ms, $timing: "ease-out;", $property: right);

        width: 5.75rem;
        overflow: hidden;
        right: 0rem;
        top: 0rem;
        padding-left: 1.7rem;
      }
    }
  }

  &:checked ~ .switchable label {
    background-color: transparent;
    color: #4e4e4e;
    border: 1px solid;
    border-color: #4e4e4e;

    span {
      display: block;
      position: absolute;

      @include uw-transition($delay: 0s, $duration: 300ms, $timing: "ease-out;", $property: (right, left));

      &.hide {
        left: 0.4rem;
      }

      &.show {
        width: 0rem;
        right: -4.75rem;
        padding-left: 0;
      }
    }
  }

  &:checked ~ .switchable label:after {
    background-color: #4e4e4e;
    left: 4rem;
    top: 0.15rem;
  }
}

.field_event_date .multiple input[type="checkbox"] ~ .field-item-switch,
.field_event_date .multiple input[type="checkbox"] ~ .field-item-switch .field-item {
  height: auto;
  opacity: 1;
  padding: 0.25rem 0 0.25rem 0;
}

.field-item-switch .field-item {
  font-size: 1rem;
  text-transform: uppercase;

  @include media($large-screen) {
    font-size: 1.42383rem;
  }
}

.js .field_event_date .multiple input[type="checkbox"] ~ .field-item-switch .field-item {
  opacity: 0;
  height: 0;
  padding: 0;
  -webkit-transition: opacity 0s ease-out;
  -moz-transition: opacity 0s ease-out;
  -o-transition: opacity 0s ease-out;
  transition: opacity 0s ease-out;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.field_event_date .multiple input[type="checkbox"]:checked ~ .field-item-switch .field-item {
  padding: 0.25rem 0.25rem 0.25rem 0;
  margin: inherit;
  clear: both;
  width: 100%;
  opacity: 1;
  height: auto;

  @include uw-transition($delay: 0.1s, $duration: 300ms, $timing: "ease-out;", $property: opacity);
}

.js .field_event_date .multiple input[type="checkbox"] ~ .field-item-switch {
  position: relative;
  display: block;
}

.field_event_date .multiple input[type="checkbox"]:checked ~ .field-item-switch {
  max-height: 100rem;

  @include uw-transition($delay: 0s, $duration: 100ms, $timing: "ease-out;", $property: max-height);
}

.js .field_event_date .multiple input[type="checkbox"]:checked ~ .field-item-switch .field-item {
  margin-bottom: 0;
}

.js .field_event_date .multiple input[type="checkbox"]:checked ~ .field-item-switch .field-item {
  margin-bottom: 0;
}

.field_event_date .multiple input[type="checkbox"] ~ .field-item-switch .field-item {
  &:first-of-type {
    height: auto;
    padding: 0rem 0.25rem 0.25rem 0;
    opacity: 1;

    @include uw-transition($delay: 0s, $duration: 100ms, $timing: "ease-out;", $property: opacity);

    span {
      &.date-display-single {}
    }
  }
}
